@using System.Web.UI.WebControls
@using WebService.Models;
@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
}
@model Service

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutWithoutNavBar.cshtml";
}


@using (Html.BeginForm("Save", "Service", FormMethod.Post, new { id = "testform" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(n => n.Id)
    <div class="form-group">
        <div class="col increased-bottom-margin-20 col-md-12">
            @Html.LabelFor(m => m.ServiceName)
            @Html.TextBoxFor(m => m.ServiceName, new { @class = "form-control", name = "ServiceName" })
            @Html.ValidationMessageFor(m => m.ServiceName, "", new { @class = "error" })
        </div>

        <div class="col increased-bottom-margin-20 col-md-12">
            @Html.LabelFor(m => m.ServiceType)
            @Html.EnumDropDownListFor(m => m.ServiceType, new { @class = "form-control" })
        </div>

        <div class="col increased-bottom-margin-20 col-md-12">
            @Html.LabelFor(m => m.Person.PhoneNumber)
            @Html.TextBoxFor(m => m.Person.PhoneNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Person.PhoneNumber, "", new { @class = "error" })
        </div>

        <div class="col increased-bottom-margin-20 col-md-12">
            @Html.LabelFor(m => m.Person.PersonName)
            @Html.TextBoxFor(m => m.Person.PersonName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Person.PersonName, "", new { @class = "error" })
        </div>
    </div>
}

<style type="text/css">
    .error {
        color: red;
        font-style: italic;
    }

    .increased-bottom-margin-20 {
        margin: 0 0 20px 0;
    }

    .increased-bottom-margin-40 {
        margin: 0 0 40px 0;
    }

    .edit-form-width {
        align-content: stretch;
    }

    .form-width-control {
        width: 400px;
    }
</style>
