@using WebService.Models;
@model Service

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @if (Model == null || Model.Id == 0)
        {
            <h2>Create Service</h2>
        }
        else
        {
            <h2>Edit Service</h2>
        }
    </div>
    <div class="row">
        @using (Html.BeginForm("Save", "Service", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(n => n.Id)
            <div class="form-group">
                <div class="col increased-bottom-margin">
                    @Html.LabelFor(m => m.ServiceName)
                    @Html.TextBoxFor(m => m.ServiceName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ServiceName, "", new { @class = "error" })
                </div>

                <div class="col increased-bottom-margin">
                    @Html.LabelFor(m => m.ServiceType)
                    @Html.EnumDropDownListFor(m => m.ServiceType, new { @class = "form-control" })
                </div>

                <div class="col increased-bottom-margin">
                    @Html.LabelFor(m => m.Person.PhoneNumber)
                    @Html.TextBoxFor(m => m.Person.PhoneNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Person.PhoneNumber, "", new { @class = "error" })  
                </div>

                <div class="col increased-bottom-margin">
                    @Html.LabelFor(m => m.Person.PersonName)
                    @Html.TextBoxFor(m => m.Person.PersonName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Person.PersonName, "", new { @class = "error" })
                </div>
                

            </div>
            <div>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        }
    </div>
    <div class="row">

    </div>
</div>


<p></p>
<p></p>
<p></p>
<p></p>

<style type="text/css">
    .error {
        color: red;
        font-style: italic;
    }
    .increased-bottom-margin {
        margin: 0 0 20px 0
    }
    .white-background {
        background: white
    }
</style>
